.top-corp-user {
  grid-area: data1;
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 5px 2px var(--shadow);
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
}
.top-corp-user > h4 {
  color: var(--accent);
  margin: 10px 0;
}
.top-corp-user a {
  float: right;
  bottom: 10px;
  color: var(--accent);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.top-corp-user a:hover {
  color: var(--dark);
}

/* ... Top Corporation Graph */

.top-corp {
  grid-area: data3;
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 5px 2px var(--shadow);
  border-radius: 10px;
  padding-left: 30px;
  overflow: hidden;
  position: relative;
}

.top-corp > h4 {
  color: var(--accent);
  margin: 10px 0;
}

.graphs {
  display: flex;
  width: 100%;
}
.top-corp .graph-item {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
}
.graphs .tc-item {
  position: absolute;
  transition: all 0.3s ease-in-out;
  background-color: var(--accent);
  width: 60px;
  bottom: 35px;
}

.graph-item > .tc-label {
  font-size: clamp(0.5rem, 2vw, 0.6rem);
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-corp .graph-label {
  width: 100%;
  position: absolute;

  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 15px;
}
.top-corp .graph-label .linear {
  display: flex;
  gap: 10px;
  height: 40px;
}
.top-corp .graph-label .linear span:nth-child(1) {
  font-size: clamp(0.5rem, 2vw, 0.7rem);
  margin-left: 10px;
  color: var(--shade);
}
.top-corp .graph-label .linear span:nth-child(2) {
  width: 100%;
  height: 1px;
  background-color: var(--shade);
  opacity: 0.3;
  z-index: 1;
  margin: auto 10px auto 10px;
}

/* ... Top Outlets */
.top-outlets {
  grid-area: data2;
  box-shadow: 1px 1px 5px 2px var(--shadow);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.top-outlets h4 {
  color: var(--accent);
}
.outlet-data {
  display: flex;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.top-outlets .to-pie-graph {
  display: flex;
  height: 100%;
  width: 100%;
  background: conic-gradient(
    var(--accent) 20%,
    var(--primary) 20% 50%,
    var(--secondary-dark) 50% 70%,
    var(--secondary-light) 70% 100%
  );
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  margin: auto 20px;
}

.top-outlets .to-pie-graph:after {
  content: "";
  border-radius: 50%;
  position: relative;
  width: 20%;
  height: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 30px solid white;
}

.to-pie-graph-info {
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
  gap: 20px;
}

.to-pie-graph-info .data {
  display: flex;
  margin-left: 20px;
}

.to-pie-graph-info .data span:nth-child(1) {
  height: 15px;
  width: 15px;
}
.to-pie-graph-info .data span:nth-child(2) {
  font-size: clamp(0.4rem, 2vw, 0.6rem);
  margin-left: 10px;
}
.to-pie-graph-info .data span:nth-child(2) {
  font-size: clamp(0.4rem, 2vw, 0.6rem);
  margin-left: 10px;
  width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.to-pie-graph-info .data span:nth-child(3) {
  font-size: clamp(0.4rem, 2vw, 0.6rem);
  margin-left: 10px;
}

.top-table {
  width: 100%;
  height: 100%;
  margin: auto 0;
}

.top-table table thead th {
  font-size: clamp(0.4rem, 2vw, 0.6rem);
  width: 50%;
}
.top-table table thead th:nth-child(2) {
  text-align: right;
}
.top-table table tbody td {
  font-size: clamp(0.4rem, 2vw, 0.6rem);
  width: 50%;
}
.top-table table tbody td:nth-child(2) {
  text-align: right;
  font-size: clamp(0.4rem, 2vw, 0.6rem);
}

/* ... Top Users */
.top-users {
  grid-area: data4;
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 5px 2px var(--shadow);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.top-users h4 {
  color: var(--accent);
}
.user-data {
  display: flex;
  gap: 10px;
  height: 100%;
  width: 100%;
}
.top-users .tu-pie-graph {
  display: flex;
  height: 100%;
  width: 100%;
  background: conic-gradient(
    var(--accent) 20%,
    var(--primary) 20% 50%,
    var(--secondary-dark) 50% 70%,
    var(--secondary-light) 70% 100%
  );
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  margin: auto 20px;
}

.top-users .tu-pie-graph:after {
  content: "";
  border-radius: 50%;
  position: relative;
  width: 20%;
  height: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 30px solid white;
}

.tu-pie-graph-info {
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
  gap: 20px;
}

.tu-pie-graph-info .data {
  display: flex;
  margin-left: 20px;
}

.tu-pie-graph-info .data span:nth-child(1) {
  height: 15px;
  width: 15px;
}
.tu-pie-graph-info .data span:nth-child(2) {
  font-size: clamp(0.4rem, 2vw, 0.6rem);
  margin-left: 10px;
  width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tu-pie-graph-info .data span:nth-child(3) {
  font-size: clamp(0.4rem, 2vw, 0.6rem);
  margin-left: 10px;
}

.top-table {
  width: 100%;
  height: 100%;
  margin: auto 0;
}

.top-table table thead th {
  font-size: clamp(0.4rem, 2vw, 0.6rem);
  width: 50%;
}
.top-table table thead th:nth-child(2) {
  text-align: right;
}
.top-table table tbody td {
  font-size: clamp(0.4rem, 2vw, 0.6rem);
  width: 50%;
  height: 20px;
}
.top-table table tbody td:nth-child(2) {
  text-align: right;
  font-size: clamp(0.4rem, 2vw, 0.6rem);
}

/* ... Top Privileges */
.top-privileges {
  grid-area: data5;
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 5px 2px var(--shadow);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-privileges h4 {
  color: var(--accent);
}
.privilege-data {
  display: flex;
  gap: 10px;
  height: 100%;
  width: 100%;
}
.top-privileges .tp-pie-graph {
  display: flex;
  height: 100%;
  width: 100%;
  background: conic-gradient(
    var(--accent) 20%,
    var(--primary) 20% 50%,
    var(--secondary-dark) 50% 70%,
    var(--secondary-light) 70% 100%
  );
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  margin: auto 20px;
}

.top-privileges .tp-pie-graph:after {
  content: "";
  border-radius: 50%;
  position: relative;
  width: 20%;
  height: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 30px solid white;
}

.tp-pie-graph-info {
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
  gap: 20px;
}

.tp-pie-graph-info .data {
  display: flex;
  margin-left: 20px;
}

.tp-pie-graph-info .data span:nth-child(1) {
  height: 15px;
  width: 15px;
}
.tp-pie-graph-info .data span:nth-child(2) {
  font-size: clamp(0.4rem, 2vw, 0.6rem);
  margin-left: 10px;
  width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tp-pie-graph-info .data span:nth-child(3) {
  font-size: clamp(0.4rem, 2vw, 0.6rem);
  margin-left: 10px;
}

.top-table {
  width: 100%;
  height: 100%;
  margin: auto 0;
}

.top-table table thead th {
  font-size: clamp(0.4rem, 2vw, 0.6rem);
  width: 50%;
}
.top-table table thead th:nth-child(2) {
  text-align: right;
}
.top-table table tbody td {
  font-size: clamp(0.4rem, 2vw, 0.6rem);
  width: 50%;
  height: 20px;
}
.top-table table tbody td:nth-child(2) {
  text-align: right;
  font-size: clamp(0.4rem, 2vw, 0.6rem);
}

@media only screen and (max-width: 768px) {
  .dashboard {
    grid-template-areas:
      "data1 data1 data1"
      "data1 data1 data1"
      "data1 data1 data1"
      "data3 data3 data3"
      "data3 data3 data3"
      "data3 data3 data3"
      "data2 data2 data2"
      "data2 data2 data2"
      "data4 data4 data4"
      "data4 data4 data4"
      "data5 data5 data5"
      "data5 data5 data5";

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
