main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.main-container {
  width: calc(100vw - var(--sidebarwidth));
  height: calc(100vh - var(--topbarheight));
  margin-left: var(--sidebarwidth);
  margin-top: var(--topbarheight);
  display: grid;
  grid-template-areas:
    "data1 data1 data1 data2 data2 data2"
    "data1 data1 data1 data2 data2 data2"
    "data1 data1 data1 data4 data4 data4"
    "data3 data3 data3 data4 data4 data4"
    "data3 data3 data3 data5 data5 data5"
    "data3 data3 data3 data5 data5 data5";

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}
